:root {
    --main-color: #407BFF;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #FFFFFF;
    --points-list: #CCCCCC;
    --line-input: #D9D9D9;
}