:root {
    --main-color: #407BFF;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #FFFFFF;
    --points-list: #CCCCCC;
    --line-input: #D9D9D9;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins-Medium');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins-Bold');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins-SemiBold');
}